@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#view-container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: antiquewhite;
}

// solo per levare la riga bianca data dall'h1
h1 {
  margin: 0;
}
