@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// custom scrollbar

::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// border-radius: 10px;
	background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  // border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 106px);
}

.route-img {
  height: calc(100vh - 106px);
  overflow: hidden;
  box-shadow: 0 0 5px grey;
} #route-cover {
  width: 100%;
}
.route-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

// GALLERY VIEW CSS
#gallery-view-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: calc(100vh - 106px);
}
#gallery-view-title {
  font-size: 3em;
}
#gallery-view{
  display: flex;
  flex-wrap: wrap;
  max-width: 1030px;
  gap: 20px;
} .view-img {
  min-width: 190px;
  min-height: 150px;
  background-color: aqua;
}


// solo per levare la riga bianca data dall'h1
h1, h2, h3 {
  margin: 0;
  text-align: center;
}

h1, h2, h4 {
  text-transform: uppercase;
}

h3 {
  color: white;
}

a {
  text-decoration: none;
}


