@import "bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// custom scrollbar

::-webkit-scrollbar {
  width: 8px;
  background-color: #ffffff;
}
::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	// border-radius: 10px;
	background-color: #ffffff;
}
::-webkit-scrollbar-thumb {
  // border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // min-height: 100vh;
  min-height: calc(100vh - 106px);

  // background-color: rgb(228, 211, 189);
}

.route-img {
  height: calc(80vh - 106px);
  background-color: beige;
  // background: url("./assets/images/");
} 
.route-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}


// solo per levare la riga bianca data dall'h1
h1 {
  margin: 0;
  text-align: center;
}

h2, h3 {
  margin: 0;
}


